<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Calorie Tracker</h1>
    <h2>Calorie Counter</h2>
    <form action="/calorie" method="POST">
        <label for="calorie">Calorie</label>
        <input type="number" name="calorie" id="calorie">
        <button type="submit">Add</button>
    </form>
    <h2>Calorie List</h2>
    <ul>
        {% for calorie in calories %}
        <li>{{ calorie }}</li>
        {% endfor %}
    </ul>
</body>
</html>